.imagenItem {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.itemCantidad {
  display: flex;
  align-items: center;
  gap: 5px;
}

.botonOperarCantidad {
  border-radius: 10px;
  width: 2.3rem;
  font-size: 1.1rem;
  background-color: #c32f27;
  color: white;
  border: none;
  box-shadow: 0px 0px 5px 0px #8d99ae;
  transition: 0.3s ease;
}

.botonOperarCantidad:hover {
  background-color: #d8572a;
  transition: 0.3s ease;
}

.linkDetalle {
  color: #2b2d42;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 6px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.linkDetalle:hover {
  background-color: #f7b538;
  color: white;
}

.iconoEliminar {
  cursor: pointer;
}

@media all and (max-width: 575px) {
  .imagenItem {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .botonOperarCantidad {
    width: 1.8rem;
    font-size: 1rem;
  }
  .linkDetalle {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
