.imagenItem {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.itemCantidad {
  display: flex;
  align-items: center;
  gap: 5px;
}

.botonOperarCantidad {
  border-radius: 10px;
  width: 2.3rem;
  font-size: 1.1rem;
  background-color: #c32f27;
  color: white;
  border: none;
  box-shadow: 0px 0px 5px 0px #8d99ae;
  transition: 0.3s ease;
}

.botonOperarCantidad:hover {
  background-color: #d8572a;
  transition: 0.3s ease;
}
.iconoEliminar {
  cursor: pointer;
}

@media all and (max-width: 991px) {
  .imagenItem {
    font-size: small;
  }
}

@media all and (max-width: 575px) {
  .imagenItem {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .botonOperarCantidad {
    width: 1.8rem;
    font-size: 0.8rem;
  }
  .linkDetalle {
    font-size: 0.5rem;
    font-weight: 400;
  }

  .btn-dark {
    font-size: small;
    padding: 5px;
  }
  .card-title {
    font-size: small;
  }
}
