.borderDerechoContenidoCarrito-lg {
  border-right: 1px solid #b53434;
  border-bottom: none;
}

.colorHr {
  color: white;
}

.botonVaciarCarrito {
  color: #c32f27;
  font-size: 1.1rem;
  font-weight: 700;
}

.botonVaciarCarrito:hover {
  background-color: #d8572a;
  color: white;
}

@media all and (max-width: 991px) {
  .borderDerechoContenidoCarrito-lg {
    border-right: none;
    border-bottom: 3px solid #b53434;
  }
}
