.card-text {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
}

.card {
  background: transparent;
  border: none;
  max-height: 400px;
  max-width: 14rem;
}

.card:hover {
  filter: brightness(1.1);
}

.card-body {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -28px;
}

.btnPrecioCard {
  border-radius: 18px;
  background-color: #d8572a;
  border: none;
}

.imagenHero {
  object-fit: cover;
  object-position: 55%;
  width: 100%;
}