@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");

.menu.card-text {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.menu .card-title {
  text-align: center;
}
.menu .card {
  background: transparent;
  border: none;
  max-height: 450px;
  min-height: 340px;
  max-width: 15rem;
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
  font-family: "Cherry Bomb One", cursive;
}

.menu .card img {
  filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 4));
}

.menu .card:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in;
  color: #f7b538;
  filter: brightness(105%);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 4));
}

.menu .card-body {
  margin: 0px;
  padding: 0px;
  
 
}

.menu .row-producto > * {
  width: auto;
}

#contenidoHeroSection {
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;  

}

#contenidoHeroSection h1 {
  font-size: 3.9rem;
}
#contenidoHeroSection img {
  filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 4));
  width: 100%;
}


.detalleLink {
  color: #ffffff;
  font-size: medium;
  margin-top: -10px;
  text-align: center;
  margin: auto;
}

.detalleLink:hover {
  color: #f7b538;
  background-color: #1414145e;

  border-radius: 15px;
}

.categoriaActiva {
  outline: solid 1px #f7b538;
  border-radius: 15px;
  color: #f7b538 !important;
}

.menuBuscador .nav-item .nav-link:hover {
  outline: solid 1px #f7b538;
  border-radius: 15px;
}

.precio {
  padding: 60px;
  min-width: 75%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white !important;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 1),-2px -1px 5px rgba(224, 224, 224, 0.653);
  border-radius: 25px;

  }

.btnAgregar {
  color: black;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.504);
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}

.btnAgregar:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(47, 33, 33, 0.504);
  color: white
}
.btnAgregar:active {
  transform: scale(1.1);
}

.verMas {
  margin-top: 15px;
  background-color: #c32f27;
  color: #ffffff;
  font-size: 10px;
 
}
.verMas:hover {
  background-color: #f7b538;
  
  color: white;
}

.verMas:active {
  background-color: rgba(0, 0, 0, 0.308) !important;
}

/* El carrusel debe tener 4 imagenes para sm y 4 imagenes para LG */

.Carrusel-MD-LG img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: 50%;
}

@media (min-width: 768px) and (max-width: 991.98px) {

  #contenidoHeroSection {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;  
  
  }
  
  #contenidoHeroSection h1 {
    font-size: 2.4rem;
  }
  #contenidoHeroSection img {
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 4));
    width: 75%;
  }



}


@media (max-width: 767px) {
  /* Estilos para dispositivos pequeños */
  .menuBuscador {
    font-size: small;
  }

  .menuBuscador .nav-link {
    padding: 5px;
    margin: -1px;
    font-weight: 700;
  }

  .videoHero {
    margin-top: -25px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 95%;
  }



  #contenidoHeroSection {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;  
  
  }
  
  #contenidoHeroSection h1 {
    font-size: 1rem;
  }
  #contenidoHeroSection img {
    filter: drop-shadow(2px 5px 8px rgba(0, 0, 0, 4));
    width: 25%;
  }
}
