.linkDetalle {
  color: white;
  display: inline-block;
  background-color: #8d99ae;
  border-color: #8d99ae;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 6px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.linkDetalle:hover {
  background-color: #f7b538;
  border-color: #d8572a;
  color: white;
}

.textoSpan {
  margin-left: 5px;
  font-size: 1.1rem;
}

.tamanioLetraItemListGroup {
  font-size: 1.4rem;
}

.tamanioCelda {
  max-width: 1.5rem;
}

@media all and (max-width: 576px) {
  .tamanioLetraItemListGroup {
    font-size: 1.1rem;
  }
  .tamanioLetraTituloTabla {
    font-size: xx-small;
  }
  .tamanioLetraItemTabla {
    font-size: small;
  }
  .linkDetalle {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media all and (min-width: 577px) and (max-width: 992px) {
  .tamanioLetraItemListGroup {
    font-size: 1.3rem;
  }
  .tamanioLetraTituloTabla {
    font-size: small;
  }
  .tamanioLetraItemTabla {
    font-size: small;
  }
}
