.contenedorPrincipal {
  background-image: url("../assets/FondoPantalla.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  align-items: center;
}

.contenedor_login {
  background-color: #bb5f151d !important;
  margin: 0 auto;
  width: 23rem;
  border-radius: 25px !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  border: 2px rgba(255, 255, 255, 0.21) solid !important;
  color: white;

}

.inputFormulario {
  width: 100%;
  padding-block: 1rem;
  background: transparent;
  color: #ffffff;
  height: 65px;
}

.inputFormulario::placeholder {
  color: rgba(255, 255, 255, 0.57);
}


.text-danger {
  color: rgb(255, 196, 0) !important;
  font-size: 12px;
  letter-spacing: 0.1px;
}

.inputFormulario:focus {
  background: transparent;
  color: aliceblue;
}

.btnIngreso:hover {
  background-color: #f7b538!important;

}



@media screen and (max-width: 640px) {
  .contenedor_login {
    width: 100%;
  }

  .text-decoration-underline {
    font-size: 14px;
  }

  .inputFormulario {
    width: 100%;
    padding-block: 1rem;
    background: transparent;
    color: #ffffff;
    height: 45px;
    font-size: 13px;

  }
}
