.logoNavbar {
  max-width: 200px;
}

.navBar2 {
  max-width: fit-content;
}

.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: #f7b538 !important;
}
.nav-link:active {
  color: #ffffff !important;
}

.dropdown-item:active {
  background-color: #f7b538;
}

.dropdown-item {
  background-color: #f7b538;
  color: white;
}
.dropdown-menu {
  overflow: hidden;
  background-color: #f7b538;
}

#carrito {
  left: 20vw;
  position: relative;
}

.carritoConPedidos p {
  font-size: 10px;
}

#cantidadProductosCliente {
  position: relative;
  right: 55%;
  bottom: 1px;
  font-size: 10px;
  color: rgb(241, 171, 18);
}

.btn-dark {
  background-color: rgb(241, 171, 18);
  color: white;
}

.btn-dark:hover {
  background-color: #af0303;
}

@media (min-width: 577px) and (max-width: 991px) {
  .logoNavbar {
    max-width: 160px;
  }

  .navBar2 {
    max-width: 100px;
  }

  #carrito {
    left: 20px;
    position: relative;
  }
}

@media (max-width: 576px) {
  .logoNavbar {
    max-width: 100px;
  }

  #carrito {
    left: -20px;
    position: relative;
  }

  .carritoConPedidos p {
    font-size: 8px;
  }
}
