.form-control:focus {
  -webkit-text-fill-color: #2b2d42;
  box-shadow: 0 0 0 0.25rem #f7b538 !important;
  border-color: transparent;
}

.inputFormularioReg {
  height: 35px;
}

.form-label {
  font-size: 15px;
  margin-bottom: 1px;
}

@media (max-width: 576px) {
  .letraForm {
    font-size: 10px;
  }

  .inputFormularioReg {
    height: 25px;
    font-size: small;
  }
}
@media all and (max-width: 991px) {
  .inputFormularioReg {
    height: 28px;
    font-size: smaller;
  }
}
