@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(75,28,12);
  background: linear-gradient(90deg, rgb(119, 32, 3) 0%, rgb(188, 33, 19) 84%);
}
.mainSection {
  flex-grow: 1;
  padding-top: 10vh;
}

.swal2-modal {
  background-color: #2b2d42;
  color: #f7b538;
  border-radius: 25px;
}

.letraSpace {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.letraRoboto {
  font-family: "Roboto Condensed", sans-serif;
}
.fondoGrisOscuro {
  background-color: #2b2d42;
}
.letraGrisOscuro {
  color: #2b2d42;
}
.fondoGrisClaro {
  background-color: #8d99ae;
}
.letraGrisClaro {
  color: #8d99ae;
}
.fondoAmarillo {
  background-color: #f7b538;
}
.letraAmarilla {
  color: #f7b538;
}
.fondoNaranja {
  background-color: #d8572a;
}
.letraNaranja {
  color: #d8572a;
}
.fondoRojo {
  background-color: #c32f27;
}
.letraRoja {
  color: #c32f27;
}

.swal2-modal {
  background-color: #2b2d4259;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 1);
  backdrop-filter: blur(15px);
  border: 2px rgba(255, 255, 255, 0.21) solid !important;
  color: #f7b538;
  border-radius: 25px;
}

/* Clases para aplicar Glassmorph en los forms */
.formGlass {
  max-width: 25rem;
  margin: 0 auto;
  background-color: #bb5f151d !important;
  border-radius: 25px !important;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  border: 2px rgba(255, 255, 255, 0.21) solid !important;
  color: white;
}

.inputFormulario {
  width: 100%;
  padding-block: 1rem;
  background: transparent;
  color: #ffffff;
  height: 65px;
}

.inputFormulario::placeholder {
  color: rgba(255, 255, 255, 0.57);
}

.btnIngreso:hover {
  background-color: #f7b538 !important;
}


/* Contenedor para paginas que lleven la imagen de fondo y form en el centro */
.contenedorPrincipal {
  background-image: url("../assets/FondoPantalla.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  align-items: center;
}

@media all and (max-width: 991px) {
  .swal2-modal {
    font-size: small;
  }
}
